{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},
	{gun, {git, "git://github.com/ninenines/gun.git", {tag, "2.0.0-pre.2"}}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [godot_domoticz_link]}
]}.

{relx, [
	{release, {godot_domoticz_link, "0.1.0"},
		[godot_domoticz_link]},

	{dev_mode, false},
	{include_erts, false},

	{extended_start_script, true}]}.
